
name: Firebase Deploy

on:
  push:
    branches: [ "main" ]
    paths:
      - "firebase/**"
      - "functions/**"

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install Firebase Tools
        run: npm install -g firebase-tools

      - name: Firebase Auth
        run: |
          echo "$FIREBASE_SERVICE_ACCOUNT" > serviceAccount.json
          firebase experiments:enable webframeworks
          firebase deploy --only firestore,functions --project=$FIREBASE_PROJECT_ID
        env:
          FIREBASE_SERVICE_ACCOUNT: ${{ secrets.FIREBASE_SERVICE_ACCOUNT }}
          FIREBASE_PROJECT_ID: ${{ secrets.FIREBASE_PROJECT_ID }}
